body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo {
    margin: 15px 0;
}

header .logo .tiki {
    width: 100px;
    height: 50px;
}

header .logo .tiki-text {
    display: block;
    width: 150px;
    height: 25px;
}

header #chooseProducts {
    width: 700px;
    height: 50px;
}

header #cart {
    position: relative;
}

header #cart i {
    font-size: 30px;
    color: black;
}

header #cart:hover i {
    color: white;
}

header #number {
    position: absolute;
    background: white;
    border-radius: 50%;
    left: 19px;
    top: -20px;
}

#modal-container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
    z-index: 5;
}

#modal-container.show {
    opacity: 1;
    pointer-events: all;
}

#modal-container.show .modal {
    top: 70px;
}

.modal {
    background-color: #fff;
    max-width: 800px;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
    background-color: black;
    color: white;
    height: 600px;
}

.modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
}

button#btn-close {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: red;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.modal-header h3 {
    font-size: 30px;
}

.modal-body .text {
    text-align: center;
    font-size: 30px;
    color: gray;
    user-select: none;
}

.modal-footer {
    position: fixed;
    right: 0;
    bottom: 0;
}

.modal-footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-right: 10px;
}

.modal-footer button {
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.modal-footer button.btn1 i {
    color: blueviolet;
}

.modal-footer button.btn2 i {
    color: red;
}

#products {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 55px;
}

#products .card {
    width: 230px;
    height: 350px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 30px;
    position: relative;
}

#products .card .card-header img {
    width: 100%;
    height: 130px;
    border-radius: 30px;
}

.card-body {
    margin-bottom: 20px;
}

.card-body .name {
    color: palevioletred;
    font-size: 20px;
}


.card-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card-footer .btn-add {
    height: 30px;
    border-radius: 30px;
    color: red;
    cursor: pointer;
}

.card-footer .btn-add:hover {
    background-color: red;
    color: white;
}

.card-footer .price {
    font-size: 20px;
    color: aqua;
}


.phoneName {
    font-size: 20px;
    color: greenyellow;
}

.btn-PhoneTrash {
    background-color: transparent;
    color: white;
    font-size: 30px;
}

table {
    width: 100%;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

#number {
    width: 21px;
    height: 21px;
    border: 50%;
    text-align: center;
    line-height: 21px;
}