body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0x;
    font-family: sans-serif;
}

header {
    background: linear-gradient(to left top, blue, red);
}

.header {
    position: relative;
}

.header img {
    max-width: 300px;
    max-height: 100px;
}

.header span {
    position: absolute;
    font-size: 50px;
    top: 15px;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .text {
    font-size: 30px;
    color: brown;
}

.content ul li {
    transition: all 0.5s;
}

.content ul li:hover {
    color: white;
}

.contact ul li {
    list-style: none;
    margin-left: -40px;
}

.info ul li {
    list-style: none;
    margin-left: -40px;
}

.media {
    display: block;
}

.media i {
    font-size: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width:992px) {
    .capnhat {
        margin-top: 30px;
    }
}

@media (max-width:768px) {
    #btn-add {
        margin-top: 30px !important;
    }
}

@media (max-width:500px) {
    .header img {
        width: 150px;
        height: 100px;
    }

    .header span {
        font-size: 50px;
        top: 17px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:350px) {
    .header img {
        width: 100px;
        height: 100px;
    }

    .header span {
        font-size: 40px;
        top: 26px;
    }
}